@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  .animate-blink {
    animation: blink 5s infinite;
  }

  @keyFrames moveInRight {
    0% {
      opacity:0;
      transform: translateX(100px)
    }

    80% {

    }

    100% {
      opacity:1;
      transform: translateX(0)
    }
  }

  .animate-moveInRight {
    animation: moveInRight 2s;
  }

  @keyFrames moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(100px)
    }
    80%{

    }
    100% {
      opacity: 1;
      transform: translateX(0)
    }
  }

  .animate-moveInLeft {
    animation: moveInLeft 6s
  }

  @keyFrames moveInRight2 {
    0% {
      opacity: 0;
      transform: translateX(100px)
    }
    80%{

    }
    100% {
      opacity: 1;
      transform: translateX(0)
    }
  }

  .animate-moveInRight2 {
    animation: moveInRight2 10s
  }

  @keyFrames rotate {
    0% {
      opacity: 0;
      transform: translateX(-100px) rotate(0deg)

    }
    60% {
      transform: rotate(180deg)
    }

    80% {
      transform: translateX(10px)
    }

    100% {
      opacity: 1;
      transform: translate(0)
    }
  }

  .animate-rotate {
    animation: rotate 10s
  }
